<div class="col-md-12">
  Room <%= @room %>
  <iframe frameborder="0" style="width:640px; height:480px;" src="http://31.172.186.58:80/<%= @stream %>/embed.html?dvr=false&proto=hls"></iframe>
  <iframe frameborder="0" style="width:100%; height:800px;" src="http://xmpp.lambdadays.org/chat/<%= @room %>"></iframe>
</div>
